/* .btn-block1 {
    width:10000px;
    height: 7500px;
    padding:20px;
}
.button1 {
    width: 333px;
    margin: 0 auto !important;
  }

.custom{padding: 1000px 2400px !important;;}

#button-container {
    width: 333px;
    margin: 0 auto !important;
}

.top-buffer { margin-top: 300px;} */
