<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="/static/css/friends_style.css">   
</head>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <ul class="navbar-nav ml-auto"></ul>
    <ul class="nav navbar-nav navbar-right">
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('admin_home')}}">Back</a>
        </li>
        <li class="nav-item">
                <a class="nav-link" href="{{url_for('logout')}}">Logout</a>
            </li>
        </ul>
      </ul>
  </nav>

  <div class="container" style="margin-top: 1%;">
    <div class="text-center">
    <div class="top">
        <h1>Admin Floors</h1>
    </div>
</div>
<div class="row">
    <div class="center">
          <div class="shadow">
          <div class="clearfix">
              <div class="col-sm-12">
                  <div class="col-sm-8">
                        <h4>Ground Floor: {{GroundFloorCount}}/63</h4>
                      </div>     
                      <div class="col-sm-2">
                          <a href="{{url_for('delete_floor', ID=0)}}">Clear Floor</a>
                      </div> 
                  </div>
                  <hr />
                  <div class="col-sm-12">
                    <div class="col-sm-8">
                          <h4>First Floor: {{FirstFloorCount}}/52</h4>
                        </div>     
                        <div class="col-sm-2">
                            <a href="{{url_for('delete_floor', ID=1)}}">Clear Floor</a>
                        </div> 
                    </div>
                    <hr />
                    <div class="col-sm-12">
                        <div class="col-sm-8">
                              <h4>Second Floor: {{SecondFloorCount}}/21</h4>
                            </div>     
                            <div class="col-sm-2">
                                <a href="{{url_for('delete_floor', ID=2)}}">Clear Floor</a>
                            </div> 
                        </div>
                        <hr />
                        <div class="col-sm-12">
                            <div class="col-sm-8">
                                  <h4>Third Floor: ****CLOSED****</h4>
                                </div>     
                            </div>
                            <hr />
                            <div class="col-sm-12">
                                <div class="col-sm-8">
                                      <h4>Fourth Floor: {{FourthFloorCount}}/42</h4>
                                    </div>     
                                    <div class="col-sm-2">
                                        <a href="{{url_for('delete_floor', ID=4)}}">Clear Floor</a>
                                    </div> 
                                </div>
              <hr />

      </div>
      </div>