<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
	crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<ul class="navbar-nav ml-auto"></ul>
		<ul class="nav navbar-nav navbar-right">
			  <li class="nav-item">
                    <a class="nav-link"  href="javascript:history.back()">Go Back</a>
			</li>
			<li class="nav-item">
					<a class="nav-link" href="{{url_for('logout')}}">Logout</a>
				</li>
			</ul>
		  </ul>
      </nav>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <div class="top">
        <h1>Floor Plan Help</h1>
    </div>
    </div>
</div>
<div class="text-center">
        <img style="height:350px;width:630px;margin:0px 0px 5px 5px" src="/static/Picture21.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <p>Once you select a floor, you will be taken to a map of the floor plan. If you see a green square that means that you are 
        sitting in that spot. 
    </p>
    </div>
</div>
<div class="text-center">
        <img style="height:350px;width:630px;margin:0px 0px 5px 5px" src="/static/Picture22.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <p>Once you select a floor, you will be taken to a map of the floor plan. If you see a green square that means that you are 
        sitting in that spot. 
    </p>
    </div>
</div>
<div class="text-center">
        <img style="height:350px;width:630px;margin:0px 0px 5px 5px" src="/static/Picture23.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <p>In the top navigation bar next to the help button, you have the option to select a new floor. If you wish to view the aviailable
        seats on a differnt floor, click this button and you will go back to the floor select page.
    </p>
    </div>
</div>
<div class="text-center">
        <img style="height:350px;width:630px;margin:0px 0px 5px 5px" src="/static/Picture24.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <p>If you currently have a spot claimed, you have the option of clicking the "Unclaim Spot" button in the navigation floor. 
        Selecting the "Unclaim Spot" button will result in a prompt asking you are sure you wish to give up your spot. Selecting ok will
        free up your spot and you will no longer have a spot claimed. If you select this button and you do not have a claimed spot, a prompt
        will appear notifying you that you have no spots to unclaim.
    </p>
    </div>
</div>
<div class="text-center">
        <img style="height:350px;width:630px;margin:0px 0px 5px 5px" src="/static/Picture25.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <p>Spots with a yellow outline indicate that that seat has an outlet available.
    </p>
    </div>
</div>
<div class="text-center">
        <img style="height:350px;width:630px;margin:0px 0px 5px 5px" src="/static/Picture26.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <p>If you wish to select a new seat to sit at, click on the seat you wish to sit in (indicated by the red arrow). A prompt will 
            then appear asking you to confirm your seat selection.
    </p>
    </div>
</div>
<div class="text-center">
        <img style="height:350px;width:630px;margin:0px 0px 5px 5px" src="/static/Picture27.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <p> The newly selected seat will now turn green and the spot will be reserved for yourself. 
    </p>
    </div>
</div>
<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="text-center">
        <h3> We hope this was helpful. Please hit the "Back" button in the top bar of the screen to go back to the
            Floorplan page!
        </h3>
        </div>
    </div>