<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" 
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" 
	crossorigin="anonymous"></script>

	<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
		<ul class="navbar-nav ml-auto"></ul>
		<ul class="nav navbar-nav navbar-right">
			  <li class="nav-item">
                    <a class="nav-link"  href="{{url_for('friends')}}">Back</a>
			</li>
			<li class="nav-item">
					<a class="nav-link" href="{{url_for('logout')}}">Logout</a>
				</li>
			</ul>
		  </ul>
      </nav>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <div class="top">
        <h1>Friends Help</h1>
    </div>
    </div>
</div>
<div class="text-center">
        <img style="height:320px;width:680px;margin:0px 0px 5px 5px" src="/static/Picture11.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <p>The top of the Friends page contains a navigation bar at the top. The first element is a "Help"
        button (which lead you to this page). The button to the right of the Help button (circled above in red)
        leads back to the select floor page which lets you choose a floor to view. Clicking on this button will 
        take you there.
    </p>
    </div>
</div>
<div class="text-center">
        <img style="height:320px;width:680px;margin:0px 0px 5px 5px" src="/static/Picture12.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
    <p>The next button in the navigation bar allows you to choose to unclaim the seat you are currently sitting in
        if you wish to do so. If you do not have a spot claimed, clicking this button will make you aware of that.
        Otherwise, clicking this button will allow you to unclaim the spot you are sitting at.
    </p>
    </div>
</div>
<div class="text-center">
        <img style="height:320px;width:680px;margin:0px 0px 5px 5px" src="/static/Picture13.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
        <p>The right-most element at the top of the navigation bar is a logout button. Clicking on this button will 
            log you out of the TopSpot. You will be prompted to login again if you wish to enter the application again.
        </p>
    </div>
</div>
<div class="text-center">
        <img style="height:320px;width:680px;margin:0px 0px 5px 5px" src="/static/Picture14.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
        <p>Below the text "Friends List" is your list of friends. If you do not have any friends, there will be text displayed
        notifying you that you do not have any friends in TopSpot at the moment. 
        </p>
    </div>
</div>
<div class="text-center">
        <img style="height:320px;width:680px;margin:0px 0px 5px 5px" src="/static/Picture15.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
        <p>If you wish to remove a friend, click the "Remove Friend" button under the name of the friend you wish to remove.
            These buttons are highlighted above in red. If you select this button for a particular user, you two will no longer
            be friends and they will be removed from your friends list.
        </p>
    </div>
</div>
<div class="text-center">
        <img style="height:320px;width:680px;margin:0px 0px 5px 5px" src="/static/Picture16.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
        <p>If you would like to add a friend to your friends list, you may do so by typing in their username in the text box
            labeled "Enter Username" and then by clicking the button to the right of this box labeled "Add Friend". This is 
            highlighted above in red. If an invalid name is entered, you will be notifyed in an alert and you can try to enter 
            a valid username again. 
        </p>
    </div>
</div>
<div class="text-center">
        <img style="height:320px;width:680px;margin:0px 0px 5px 5px" src="/static/Picture17.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
        <p>Above is an example of adding a friend. First type in the username and click "Add Friend".
        </p>
    </div>
</div>
<div class="text-center">
        <img style="height:320px;width:680px;margin:0px 0px 5px 5px" src="/static/Picture18.png" class="img-fluid " alt="Responsive image">
    </div>
    <div class="container" style="margin-top: 1%; margin-bottom: 1%;">
    <div class="text-center">
        <p>If a valid username was entered, the username of the new friend will be displayed in your friends list.
        </p>
    </div>
</div>
<div class="container" style="margin-top: 5%; margin-bottom: 5%;">
        <div class="text-center">
        <h3> We hope this was helpful. Please hit the "Back" button in the top bar of the screen to go back to the
            Friends page!
        </h3>
        </div>
    </div>
            

